{%extends 'base.html'%}

{%block content%}
<br>
<h1>Sign_up page</h1>
<br>
<div class = "jumbotron">
<form method = "POST" action="{% url 'sign_up' %}">
    {% csrf_token %}
    <label for="id">ID :</label>
    <input type="text" name="id" id="id"><Br>
    <label for="pw">Password : </label>
    <input type="password" name="pw" id="pw"><Br>
    <label for="pw_confirm">Password_confirm : </label>
    <input type="password" name="pw_confirm" id="pw_confirm">
<br>
    <button type="submit" class="btn btn-info">가입하기</button>

</form>
</div>
{%endblock%}